.SolutionMain {
    text-align: center;
    background-color: #ffffff;
    color: #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 140vh;    
}

.text {
    font-size: 1.2em;
    font-family: 'Open Sans';
    width: 250px;
    color: #ffffff;
}

.subtitle {
  font-size: 1.0em;
  font-family: 'Yatra One', cursive;
}

.logoImage {
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 100;
}