  
  .sunRay { 
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: auto;  
      width:70px;
      height:70px;
      border-radius:50%;	
      background:white;
      opacity:0.9;			
      box-shadow: 0px 0px 40px 15px white;  
  }
  
  .ray_box {
    position: absolute;
    margin: auto;
      top:0px;
      left:0;
      right:0;
      bottom:0;	
    width:70px;  
    -webkit-animation: ray_anim 120s linear infinite;
    animation: ray_anim 120s linear infinite;
  }
  