.Hero {
    text-align: center;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 120vh;    
}

.title {
    font-size: 3.0em;
    font-family: 'Yatra One', cursive;
}

.subtitle {
  font-size: 1.6em;
  font-family: 'Yatra One', cursive;
}

.text {
  font-size: 1.0em;
  font-family: 'Yatra One', cursive;
}

.earthImage {
  height: 50vh;
  vertical-align: -webkit-baseline-middle;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10000;
}

.sunShine {
  height: 20vh;
  position: relative;
  top: 35vh;
}

:local(.scroll) {
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
  color: $plum;
  font-weight: 500;
}
