.container {
    text-align: center;
    height: 350px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;  
    width:300px;  
    color:blue;  
}

#svg-bg {
    width: 300px;
    left: 50%;
    margin-left: -150px;
    position: fixed;
    top: 10%;
    z-index: -1;
}

div svg {
    fill: #cecece;
}