.GlobalWarming {
    text-align: center;
    background-color: #ffffff;
    color: #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 120vh;    
}

.text {
    font-size: 1.2em;
    font-family: 'Open Sans';
    width: 250px;
    color: #ffffff;
}

.subtitle {
  font-size: 1.0em;
  font-family: 'Yatra One', cursive;
}

.corals {
  position: relative;
  text-align: center;
}

.seaRock {
  position: absolute;
  width: 90%;
  height: auto;
  left: -225px;
  top: 40px;
}

.coral1 {
  position: absolute;
  right: 5px;
}

.coral2 { 
  position: absolute;
  left: 5px;
}

.coral3 { 
  position: absolute;
  left: -135px;
  top: 20px;
}