.Main {
    text-align: center;
    background-color: #fff;
    color: #000;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.text {
    font-size: 1.2em;
    font-family: 'Open Sans';
    width: 250px;
    color: #ffffff;
}

.subtitle {
  font-size: 1.0em;
  font-family: 'Yatra One', cursive;
}

.spaceImage {
  height: 25vh;
  vertical-align: -webkit-baseline-middle;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10000;
}
