.SunInSky {
    text-align: center;
    background: -moz-linear-gradient(top, #1c2837 40%, #fffed3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1c2837 40%,#fffed3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1c2837 40%,#fffed3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 200vh;    
    position: relative;
}

.SunInSky:hover {
    text-align: center;
    background-color: blue;
    color: #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 200vh;    
}


.text {
    font-size: 1.2em;
    font-family: 'Open Sans';
    width: 250px;
    color: #ffffff;
}

.text3 {
    font-size: 1.2em;
    font-family: 'Open Sans';
    width: 250px;
    color: #000;
}


.city {
    position: absolute;
    right: 0%;
    width: 200%;
    bottom: 0px;
}