.Overcoming {
    text-align: center;
    background: linear-gradient(#3baf4e, #3baf4e);
    color: #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.subtitle {
  font-size: 1.0em;
  font-family: 'Yatra One', cursive;
}

.species {
  height: 15vh;
  vertical-align: -webkit-baseline-middle;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 50;
}

.sunShine {
  height: 20vh;
  position: relative;
  top: 35vh;
}

:local(.scroll) {
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
  color: $plum;
  font-weight: 500;
}
