.Emissions {
    text-align: center;
    background: linear-gradient(#fff, #edffed);
    color: #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 130vh;   
}

.molecules {
  height: 15vh;
  vertical-align: -webkit-baseline-middle;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 50;
}