.humanBG {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
  } 
  
  .human {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #141f30;
    overflow: hidden;
    border-radius: 5000px;
  }
  
  .hat {
    margin: 10% auto -18px;
  }
  
  .head {
    width: 100px;
    height: 100px;
    background-color: #2d3e59;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    top:64px;
  }
  
  .head:after {
    content: "";
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 40px;
    background-color: #2d3e59;
  }
  
  .human .body {
    height: 170px;
    width: 100px;
    background-color: #2d3e59;
    margin: 30px auto 0;
    position: relative;
    top: 60px;
    
    z-index: 2;
  }
   
  .body .top {
    position: absolute;
    height: 80px;
    width: 120%;
    top: -20px;
    left: -10%;
    background-color: #2d3e59;
    border-radius: 50%;
  }
  
  .body .side {
    position: absolute;
    top: 0px;
  }
  
  .body .left {
    height: 150px;
    width: 50%;
    background-color: #2d3e59;
    left: -21px;
    border-radius: 50%;
  }
  
  .body .right {
    height: 150px;
    width: 50%;
    background-color: #2d3e59;
    border-radius: 50%;
    right: -21px;
  }
  
  .legs {
    width: 100px;
    height: 80px;
    margin: 0 auto -10px;
  }
  
  .leg {
    width: 45%;
    height: 100%;
    display: inline-block;
    position: relative;
    top: 60px;    
    z-index: 1;
    background-color: #2d3e59;
  }

  .leg.left {
    float: left; 
  }
  .leg.right {
    float: right; 
  }
  
  .ground {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    background-color: #7B6352;
    margin: 0;
  }

