.Consumption {
    text-align: center;
    background: -moz-linear-gradient(top, #F7AB6A 5%, #FAE9A3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F7AB6A 5%,#FAE9A3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F7AB6A 5%,#FAE9A3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, #F7AB6A,#FAE9A3);
    color: #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 200vh;   
}

.species {
  height: 15vh;
  vertical-align: -webkit-baseline-middle;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 50;
}