
hr {
	margin: 26px 0;
	border: 0;
	border-top: 1px solid white;
	background: transparent;
	width: 25%;
	opacity: .1;
}

code {
	color: #ae94c0;
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size: .9em;
}

.solar-syst {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
}

.solar-syst div {
	border-radius: 1000px;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 999;
}

.solar-syst div:not(.sun) {
	border: 1px solid rgba(102, 166, 229, 0.12);
}

.solar-syst div:not(.sun):before {
	left: 50%;
	border-radius: 100px;
	content: "";
	position: absolute;
}

.solar-syst div:not(.asteroids-belt):before {
	box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
	background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
	height: 20px;
	width: 20px;
	margin-top: -10px;
	margin-left: -10px;
	background-clip: padding-box;
	border: 0 !important;
	background-position: -28px -103px;
	background-size: 175%;
	box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
	height: 35px;
	width: 35px;
	margin-top: -17.5px;
	margin-left: -17.5px;
	animation: orb 7.18673s linear infinite;
}

.mercury:before {
	height: 2px;
	width: 2px;
	background: #9f5e26;
	margin-top: -1px;
	margin-left: -1px;
}

.venus {
	height: 50px;
	width: 50px;
	margin-top: -25px;
	margin-left: -25px;
	animation: orb 18.45553s linear infinite;
}

.venus:before {
	height: 4px;
	width: 4px;
	background: #BEB768;
	margin-top: -2px;
	margin-left: -2px;
}

.earth {
	height: 72.5px;
	width: 72.5px;
	margin-top: -36.25px;
	margin-left: -36.25px;
	animation: orb 30s linear infinite;
}

.earth:before {
	height: 3px;
	width: 3px;
	background: #11abe9;
	margin-top: -1.5px;
	margin-left: -1.5px;
}

.earth:after {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 50%;
	top: 0px;
	margin-left: -9px;
	margin-top: -9px;
	border-radius: 100px;
	box-shadow: 0 -10px 0 -8px grey;
	animation: orb 2.24404s linear infinite;
}

.mars {
	height: 95px;
	width: 95px;
	margin-top: -47.5px;
	margin-left: -47.5px;
	animation: orb 56.42613s linear infinite;
}

.mars:before {
	height: 3px;
	width: 3px;
	background: #cf3921;
	margin-top: -1.5px;
	margin-left: -1.5px;
}

.jupiter {
	height: 170px;
	width: 170px;
	margin-top: -85px;
	margin-left: -85px;
	animation: orb 355.72282s linear infinite;
}

.jupiter:before {
	height: 9px;
	width: 9px;
	background: #c76e2a;
	margin-top: -4.5px;
	margin-left: -4.5px;
}

.saturn {
	height: 220px;
	width: 220px;
	margin-top: -110px;
	margin-left: -110px;
	animation: orb 882.69525s linear infinite;
}

.saturn:before {
	height: 6px;
	width: 6px;
	background: #e7c194;
	margin-top: -3px;
	margin-left: -3px;
}

.saturn:after {
	position: absolute;
	content: "";
	height: 1.17%;
	width: 2.338%;
	left: 50%;
	top: 0px;
	transform: rotateZ(-52deg);
	margin-left: -1.15%;
	margin-top: -0.6%;
	border-radius: 50% 50% 50% 50%;
	box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
	animation: orb 882.69525s linear infinite;
	animation-direction: reverse;
	transform-origin: 52% 60%;
}

.uranus {
	height: 260px;
	width: 260px;
	margin-top: -130px;
	margin-left: -130px;
	animation: orb 2512.4002s linear infinite;
}

.uranus:before {
	height: 5px;
	width: 5px;
	background: #b5e3e3;
	margin-top: -2.5px;
	margin-left: -2.5px;
}

.neptune {
	height: 315px;
	width: 315px;
	margin-top: -157.5px;
	margin-left: -157.5px;
	animation: orb 4911.78386s linear infinite;
}

.neptune:before {
	height: 5px;
	width: 5px;
	background: #175e9e;
	margin-top: -2.5px;
	margin-left: -2.5px;
}

.pluto {
	height: 390px;
	width: 390px;
	margin-top: -195px;
	margin-left: -195px;
	animation: orb 7439.70741s linear infinite;
}

.pluto:before {
	height: 1.5px;
	width: 1.5px;
	background: #fff;
	margin-top: -0.75px;
	margin-left: -0.75px;
}

.hide {
	display: none;
}

.links {
	margin-top: 5px !important;
	font-size: 1em !important;
}

@keyframes orb {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
	}
}