.Earth {
    text-align: center;
    background-color: #fff;
    height: 100vh;
    padding: 20px;
    color: #000;
  }
  
.title {
    font-size: 3.0em;
    font-family: 'Yatra One', cursive;
}

.earthImage {
  height: 50vh;
  vertical-align: -webkit-baseline-middle;
  margin-top: auto;
  margin-bottom: auto;
}
  
.description {
  font-size: 1.2em;
  font-family: 'Open Sans';
}