.JourneyMain {
    text-align: center;
    background-color: #ffffff;
    color: #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 120vh;
}

.title {
    font-size: 3.0em;
    font-family: 'Yatra One', cursive;
    z-index: 50;
}

.subtitle {
  font-size: 1.6em;
  font-family: 'Yatra One', cursive;
  z-index: 50;
}

.earthImage {
  height: 50vh;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 100;
}

.sunShine {
  height: 20vh;
  margin-top: auto;
  margin-bottom: auto;  
  z-index: 50;
}

:local(.scroll) {
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
  color: $plum;
  font-weight: 500;
}
